body{ font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-image: url(/Imagens/cinema3.PNG);
    background-repeat:no-repeat;
    background-size: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-botoes{
    display: flex;
    justify-content: center;
  }

  #filme{
   padding: 5px;
   border-radius: 5px;
   width: 15%;
   margin: 5px;
  }

  .botao{
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-weight: bold; 
    transition: 1s all;
    margin: 15px 20px 0 0;
  }

  .botao:hover{
    transform: scale(1.2);
  }

  .filme-adicionado{
    margin: 50px auto;
    width: 940px;
      
  }

  .filme-adicionado img{
    width: 200px;
    height: 250px;
    margin-right: 20px;
  }