body{ font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-image: url(/Imagens/cinema3.PNG);
    background-repeat:no-repeat;
    background-size: 100%;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-botoes{
    display: flex;
    justify-content: center;
  }

  #filme{
   padding: 5px;
   border-radius: 5px;
   width: 15%;
   margin: 5px;
  }

  .botao{
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-weight: bold; 
    transition: 1s all;
    margin: 15px 20px 0 0;
  }

  .botao:hover{
    transform: scale(1.2);
  }

  .filme-adicionado{
    margin: 50px auto;
    width: 940px;
      
  }

  .filme-adicionado img{
    width: 200px;
    height: 250px;
    margin-right: 20px;
  }

  @media screen and (max-width:480px){
    .container-botoes{
      display: flex;
      flex-direction: column;
    }

    body{
    color: white;
    font-size: 10px;
    font-weight: bold;
    background-color: black;
    
    }

    .botao{
      width: 50%;
      padding: 5px;
      font-size: 10px;
      border-radius: 5px;
      color: white;
      background-color: red;
      font-weight: bold; 
      transition: 1s all;
      margin: 15px 20px 0 0;
    }

    .container-botoes{
      display: flex;
      align-items: center;
    }

    #filme{
      padding: 5px;
      border-radius: 5px;
      width: 50%;
      margin: 5px;
     }
  }
